<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2><strong>Jeep Grand Cherokee Lease Offer</strong></h2>
				</div>
				<div class="panel-body">
					<div style="height: 450px; background-image: url('https://di-uploads-pod13.dealerinspire.com/mcfaddenfriendlymotorschryslerdodgejeepram/uploads/2018/08/2018GrandCherokeeHeroImage.jpg'); width: 100%; background-repeat: no-repeat; background-position: center; background-size: cover;">
						<div class="col-xs-12 col-sm-offset-7 col-sm-5" style="height: 100%; padding: 15px; overflow: hidden; text-align: left; color: #fff; background-color: #00000090;">
							<div>
								<h2 style="line-height:.9; font-size:1.8em">LEASE A 2018 Jeep MODEL FOR<br></h2>
								<h3 style="font-size: 42px; color: yellow; line-height: .8;">$XXX/mo
									<br>
									<span style="font-size: 21px; line-height: 1.5;">for XX months</span></h3>
								<p style="font-size:.7em; font-style:italic;">Contact dealer for amount due at signing.<br>Tax, title and
									license extra.</p>
								<p style="color: orange;">Offer expires on: XX-XX-18</p>
							</div>
							<div class="row">
								<div class="hidden-xs col-sm-12">
									<a class="btn btn-primary btn-lg col-xs-12 fancybox" style="width: 100%; margin-top: 16px; text-decoration: none; background-color: #ffb900; border-color: #000; color:#000; font-weight: bold;"
									 href="#gravity-form-1" data-mobile-url="" data-is_cta="true" data-vehicle="{&quot;model_year&quot;:&quot;2018&quot;,&quot;make&quot;:&quot;JEEP&quot;,&quot;model&quot;:&quot;Compass&quot;}"
									 data-gtm-event="vdpPrimaryCTA">Claim Offer</a>
								</div>
								<div class="hidden-sm hidden-md hidden-lg col-xs-12">
									<a class="btn btn-primary btn-lg col-xs-12 fancybox" style="width: 100%; margin-top: 16px; text-decoration: none; background-color: #000; border-color: #ffb900; color:#ffb900; font-weight: bold;"
									 href="#gravity-form-1" data-mobile-url="" data-is_cta="true" data-vehicle="{&quot;model_year&quot;:&quot;2018&quot;,&quot;make&quot;:&quot;JEEP&quot;,&quot;model&quot;:&quot;Compassp-p; 09 &quot;}"
									 data-gtm-event="vdpPrimaryCTA">Claim Offer</a>
								</div>
								<div class=" hidden-xs col-sm-12">
									<a href="/contact-us/" class="col-xs-12 btn btn-primary btn-lg" style="width: 100%; margin-top: 16px; text-decoration: none; background-color: #000; border-color: #ffb900; color:#ffb900; font-weight: bold;">Contact
										Us</a></div>
								<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
									<a href="tel:8777793101" class="col-xs-12 btn btn-primary btn-lg" style="width: 100%; margin-top: 16px; text-decoration: none; background-color: #ffb900; border-color: #000; color:#000; font-weight: bold;">Call
										Now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h1>Jeep Compass Lease Offers for October | South Haven, MI</h1>
		<p>You&rsquo;ve done the research; you know that the Jeep Compass is the perfect SUV for your lifestyle. Now
			it&rsquo;s time to take one home! At McFadden&rsquo;s Friendly Motors of South Haven, MI, we offer competitive Jeep
			Compass lease specials and deals that allow you to get behind the wheel for a price you&rsquo;ll love. We have a
			vast <a href="/new-vehicles/compass/">inventory</a> of Jeep Compass models for sale at our Compass dealership. For a detailed look at what each
			individual Jeep Compass trim level has to offer, view our <a href="/details-jeep-compass-trims/">2018 Jeep Compass Trim Levels</a> research page. Our
			team of talented finance specialists will guide you through the entire leasing or Compass finance process to ensure
			you receive a payment plan that works with your budget. If you have any questions regarding our lease offers, please
			give our dealership a call at <a href="tel:8775896292">(877) 589-6292</a>.</p>
		<h2>Top Reasons to Buy the Jeep Compass</h2>
		<p>The 2018 Jeep Compass starts at an affordable $21,095 MSRP and boasts a robust selection of advanced features that
			are designed to take driving to the next level. Key features include:</p>
		<ul>
			<li>Selec-Terrain&trade; Traction&nbsp;Management System</li>
		</ul>
		<ul>
			<li>16-in. black aluminum wheels</li>
			<li>Uconnect&reg; 3 infotainment interface with 5-in. touchscreen display</li>
			<li>Bluetooth&reg; streaming audio and smartphone connectivity</li>
			<li>Integrated Voice Command</li>
			<li>6-speaker audio system</li>
		</ul>
		<ul>
			<li>Available premium leather upholstery</li>
			<li>Available heated seats</li>
		</ul>
	</div>
	<div class="col-xs-12">
		<p style="font-size: .8em; line-height: .9em;"><span style="color: red;">Offer Details:</span>

		</p>
	</div>


</body>

</html>