a {
  text-decoration: underline;
}
a:hover {
  color: #f4bc00;
}
h2 {
  margin-top: 48px !important;
  margin-bottom: 16px !important;
}
h3:after {
  display: none;
}
ol {
  margin-bottom: 36px !important;
}
li {
  margin-bottom: 8px;
}
div.hero1 {
  height: 600px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

div.hero1 div.content {
  height: auto;
  max-height: 575px;
  overflow: auto;
  text-align: left;
  color: #fff;
  background-color: #00000090;
}

h2.heading {
  line-height: 2.3vmax;
  font-size: 2.3vmax;
  margin-top: 2%;
}

h2.price {
  font-size: 4vmax;
  margin-right: 0.5vmax;
}

h2.price p {
  font-size: 2vmax;
}

h2.details {
  font-size: 3vmax;
}

h2.details p {
  font-size: 1.3vmax;
}

.parallax1 {
  /* The image used */
  background-image: url("//media-cf.assets-cdk.com/websites/content/c362faebf18f44e9870c3e47a70beaa0_c33x0-1135x487_x1135.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary {
  color: #fff !important;
  background-color: #f4bc00;
  border-color: #f4bc00;
  border-width: 2px;
  border-style: solid;
  font-family: LatoBold, sans-serif !important;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  max-width: 300px;
  transition: ease-in-out, all 0.2s ease-in-out;
  padding: 1.3rem;
  min-height: 52px;
  display: inline-block;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  letter-spacing: normal;
  position: relative;
}
.btn-primary:hover {
  background-color: #c19500;
  border-color: #c19500;
}
a[href^="tel:"].btn-primary:before {
  content: "\f2d2";
  margin-right: 1.5rem;
  margin-left: 5px;
  font-family: "Ionicons", sans-serif;
  font-size: 1.6rem;
}
.btn-primary:after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 1px solid #fff;
}
.lease-disclaimer {
  margin-top: 16px;
}
.lease-disclaimer p {
  font-size: 10px;
  line-height: 1.25em;
}
