<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>2018 Jaguar F-PACE vs. 2018 BMW X5 near Lake Bluff, IL</h1>
    <p>Do you want to elevate your daily drive with a new luxury SUV, but haven&rsquo;t decided whether the 2018 Jaguar F-PACE or BMW X5 is right for you? While both SUVs provide premium amenities, only one has what it takes to accommodate your lifestyle. Continue reading the following comparison to learn which luxury SUV is your ideal match.</p>
    <p>For the purposes of this comparison, we will be taking a closer look at the 2018 Jaguar F-PACE S, starting at $59,775 MSRP, and the 2018 BMW X5 sDrive35i, starting at $57,200 MSRP. If you&rsquo;d prefer to speak directly to a product specialist at Imperial Motors Jaguar of Lake Bluff, IL about these models call <u>(877) 437-0379</u>.</p>
    <h2>Interior and Design</h2>
    <p>Do you expect premium comfort and design features from your new SUV? Our experts agree you&rsquo;ll prefer the leather-trimmed 18-way adjustable driver&rsquo;s seat in the 2018 F-PACE compared to the leatherette-trimmed and 14-way driver&rsquo;s seat in the BMW X5. The Jaguar F-PACE also includes 20-in. wheels and red brake calipers for a distinctive style, while the 2018 BMW X5 does not offer similar exterior design features. Additional features with the 2018 F-PACE include:</p>
    <ul>
      <li>Heated leather-wrapped steering wheel</li>
      <li>Driver&rsquo;s seat memory</li>
      <li>LED headlights with intelligent high beam</li>
      <li>Driver&rsquo;s seat with four-way power lumbar support</li>
      <li>Auto-dimming and power-folding exterior mirrors</li>
    </ul>
    <h2>Engine and Performance</h2>
    <p>When it comes to performance, the 2018 BMW X5 is no match for the supremely powerful Jaguar F-PACE. While both models have the same engine size, the 2018 F-PACE provides more horsepower, torque, and can accelerate from 0-60 MPH a whole second faster than the BMW X5. Additionally, the Jaguar F-PACE also has all-wheel-drive for increased traction and handling, while the BMW X5 only offers rear-wheel-drive. View the table below to learn more about the engine specs for both models.</p>
    <table>
      <tbody>
        <tr>
          <td>
            <p>2018 Jaguar F-PACE</p>
          </td>
          <td>
            <p><strong>Vs.</strong></p>
          </td>
          <td>
            <p>2018 BMW X5</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>3.0L V6</p>
          </td>
          <td>
            <p><strong>Engine</strong></p>
          </td>
          <td>
            <p>3.0L V6</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>380 HP</p>
          </td>
          <td>
            <p><strong>Horsepower</strong></p>
          </td>
          <td>
            <p>300 HP</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>332 lb.-ft.</p>
          </td>
          <td>
            <p><strong>Torque</strong></p>
          </td>
          <td>
            <p>295 lb.-ft.</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>5.1 sec.</p>
          </td>
          <td>
            <p><strong>0-60 MPH acceleration</strong></p>
          </td>
          <td>
            <p>6.1 sec.</p>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>Safety and Technology</h2>
    <p>Do you have the latest safety and technology features on your wish list? While both the Jaguar F-PACE and BMW X5 have impressive features, only one SUV has what it takes to keep you connected and protected on every drive. The Jaguar F-PACE offers key features the BMW X5 does not include such as Lane Keep Assist, Blind Spot Monitor, and InControl&trade; Apps infotainment. Additional 2018 Jaguar F-PACE features include:</p>
    <ul>
      <li>Meridian&trade; 11-speaker audio system</li>
      <li>Driver Condition Monitor</li>
      <li>Emergency Braking</li>
      <li>Closing Vehicle Sensing</li>
      <li>Reverse Traffic Detection</li>
      <li>Rearview camera</li>
      <li>Homelink&reg; garage door opener</li>
      <li>Navigation</li>
      <li>Front and rear parking aids</li>
    </ul>
    <p>Have you decided that the 2018 Jaguar F-PACE is the luxury SUV you want for your daily routine? Head over to the <u>new inventory</u> at Imperial Motors Jaguar of Lake Bluff, IL to find the new F-PACE model you love, or learn more about the F-PACE by reading our <u>model research pages</u>. Once you have your eye on a particular SUV, schedule a test drive by calling <u>(877) 437-0379</u>.</p>
  </body>
</html>
