<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-xs-12">
            <img src="http://pictures.dealer.com/s/schaumburgaudiaoa/1439/d7e92279fa3dd2072376d3d19ac13cf1x.jpg" alt="--------------"
                title="--------------" width="100%">
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <a href="" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">----------</a></div>

                <div class="col-xs-12 col-sm-4">
                    <a href="" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">----------</a></div>

                <div class="col-xs-12 col-sm-4">
                    <a href="/contact.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">Contact
                        Us</a></div>


            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 style="text-align:center;">------------: Performance</h2>
        </div>
        <div class="col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tbody style="text-align:center;">
            <tr>
                <td>
                    <p>2018 Audi Q7</p>
                </td>
                <td>
                    <p><strong>Model</strong></p>
                </td>
                <td>
                    <p>Acura MDX</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>3.0L Supercharged V6</p>
                </td>
                <td>
                    <p><strong>Engine</strong></p>
                </td>
                <td>
                    <p>3.5L V6</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>333 HP</p>
                </td>
                <td>
                    <p><strong>Horsepower</strong></p>
                </td>
                <td>
                    <p>290 HP</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>325 lb.-ft.</p>
                </td>
                <td>
                    <p><strong>Torque</strong></p>
                </td>
                <td>
                    <p>267 lb.-ft.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>5.7 sec.</p>
                </td>
                <td>
                    <p><strong>Acceleration</strong></p>
                </td>
                <td>
                    <p>6.2 sec.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>7,700 lbs.</p>
                </td>
                <td>
                    <p><strong>Tow Rating</strong></p>
                </td>
                <td>
                    <p>5,000 lbs.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12">
            <h2 style="text-align:center;">----------------------: Comfort</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="http://pictures.dealer.com/s/schaumburgaudiaoa/1864/49dd79c72dd7537244ac5bcb8f83661ax.jpg" alt="2018 Audi Q7 Interior"
                title="2018 Audi Q7 Interior" style="width: 100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 style="text-align:center;">----------------------: Technology</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-6">


            <img src="http://pictures.dealer.com/s/schaumburgaudiaoa/0703/ca9b385cc0524bb9143b52200efd92b0x.jpg" alt="2018 Audi Q7 Technology"
                style="width: 100%" />
        </div>
    </div>
    <h2 style="text-align:center;">Test Drive----------------</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <a href="" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">----------</a></div>

        <div class="col-xs-12 col-sm-4">
            <a href="" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">----------</a></div>

        <div class="col-xs-12 col-sm-4">
            <a href="/contact.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%; text-decoration:none;">Contact
                Us</a></div>


    </div>
</body>

</html>