
tbody {
    text-align: center;
  }
  div.dark {
    background-color: #000;
    color:#fff;
  }
  div.color {
    background-color: #dedede;
  }
  div.dark > p,a {
    color:#fff;
  }
  
  .dcw-design-lexus .bg-light, .dcw-design-lexus .bg-dark {
    padding-bottom: 5rem;
  }
  .dcw-design-lexus .l1 {
    padding-bottom: 0;
  }
  
  
  /* BASE */
  
  .dcw-design-lexus /* body class */ {
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2rem;
    margin: 1.6rem 0 1rem;
    font-family: 'Nobel Bold', sans-serif;
    text-align: center;
  }
  h2, h3,{
    font-size: 1.5rem;
  }
  a, p,{
    font-size: 1.3rem;
  }
  
  a {
    text-decoration: underline!important;
  }
  
  
  
  
  /* BUTTONS */
  
  a.btn {
    font-size: 1.4rem!important;
    text-transform: uppercase;
    font-family: "Nobel bold", sans-serif;
    margin-top: 1rem;
    border-radius: 0px;
    text-decoration: none;
    padding: 1.5rem 1rem;
  }
  
  .bg-light a.btn {
    background-color: #000;
    color: #fff;
  }
  .bg-light a.btn:hover, .bg-light a.btn:active {
    background-color: #fff;
    border-color: #000;
    color: #000;
  }
  
  .bg-dark a.btn {
    background-color: #fff;
    color: #000;
  }
  
  .bg-dark a.btn:hover, .bg-dark a.btn:active {
    background-color: #000;
    border-color: #fff;
    color: #fff;
  }
  
  
  /* PANEL */
  
  .panel, panel p {
    color: #000;
  }
  
  .panel a {
    color: #000!important;
  }