<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
</head>

<body class="dcw-design-lexus">
  <div class="hero1" style="background-image: url('https://media-cf.assets-cdk.com/websites/content/b573a87db95a44b0a5d44034beeb16b4_c0x1-1067x599_x1067.jpg;');background-position: 33% 90%;  padding: 1vmax 3vmax 6vmax 6vmax;">
    <div class="col-xs-12 col-sm-offset-8 col-sm-4 content" style=" padding: 1vmax 2vmax 1vmax 2vmax;">
      <div style="text-align: center;">
        <h2 class="heading">Lease a YEAR MAKE MODEL <br>for</h2>
        <div class="row">
          <div class="col-xs-12" style=" text-align: center;">

            <h2 class="price">$XXX</h2>
            <p>MO.</p>

          </div>
          <div class="col-xs-6" style="border-right: solid 2px #000000; text-align: center;">

            <h2 class="details" style="font-size: 3vmax;">XX</h2>
            <p>MOS.</p>

          </div>
          <div class="col-xs-6" style="text-align: center;">

            <h2 class="details" style="font-size: 2.8vmax;">$XXXX</h2>
            <p>DUE AT SIGNING</p>

          </div>
        </div>
        <p>Expires XX/XX/2018. ----------------------------------.</p>

        <div>


          <div class="hidden-xs col-sm-12">
            <a class="bg-light btn" style="width: 100%; margin-top: 2%;" href="/contact.htm">Claim Offer</a>
          </div>
          <div class="col-xs-12 hidden-sm hidden-md hidden-lg hidden-xl">
            <a class="bg-light btn" style="width: 100%; margin-top: 2%;" href="tel:2395925533">Call Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
s
  <div class="dark" id="form">
    <p style="font-size: small;">Disclaimer: </p>
  </div>
  <div class="col-xs-12">
    COPY
  </div>
</body>

</html>