<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="max-width: width 960px;">
        <h1>Ford Edge Trim Differences near Crystal Lake, IL</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>Have you had your eyes on the reliable 2018 Ford Edge as your next SUV? Tom Peck Ford near Crystal Lake,
                    IL is here to help put you behind the wheel of your favorite trim. It can be hard to decide which trim
                    is the best fit for you and your family, so the experts at our dealership have created this Edge trim
                    comparison. To take a closer look at the Ford Edge, browse through our <a href="/new-inventory/index.htm?search=&model=Edge&saveFacetState=true&lastFacetInteracted=inventory-listing1-facet-anchor-model-4">Edge
                        inventory
                    </a> as well as our recent <a href="/global-incentives/index-site.htm">incentives</a>. If you have any
                    further questions, give us a call at <a href="tel:8476696060">(877) 841-2409</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Ford Edge SE</h2>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6" style="margin-top:2%">
                        <p>The 2018 Ford Edge SE is a reliable SUV with all the basics you&rsquo;ll need on your daily drive.
                            Continue reading for the key features of this base model.</p>
                        <a href="/new-inventory/index.htm?search=&model=Edge&trim=SE&saveFacetState=true&lastFacetInteracted=inventory-listing1-facet-anchor-trim-0"
                            class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge SE Inventory
                        </a>
                        <a href="/research/edge-inventory.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge Lease Offers</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="http://pictures.dealer.com/t/tompeckhuntleyfordfd/1490/42c01f3099d9d66f724462251c5002ccx.jpg" alt="2018 Ford Edge SE"
                            title="2018 Ford Edge SE" style="width: 100%" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div style="overflow-x:auto;" class="col-sm-12">
                        <table class="table table-striped table-bordered">
                            <tbody style="text-align:left;">
                                <tr>
                                    <td style="text-align:left;">

                                        <p style="font-size: 1.8rem;"><strong> SE Starting MSRP-</strong></p>
                                        <p style="font-size: 1.8rem;"><strong>$29,315</strong></p>
                                    </td>
                                    <td style="text-align:center;">
                                        <p style="font-size: 1.8rem;"><strong>Features</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Engine</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>2.0L EcoBoost&reg; I4</li>
                                        <li>245 HP</li>
                                        <li>275 lb.-ft. of torque</li>
                                        <li>21 MPG city/29 MPG highway/24 MPG combined</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Interior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>Manual, single zone climate control</li>
                                        <li>Manual tilt-and-telescopic steering wheel with cruise and secondary audio controls</li>
                                        <li>Reclining cloth front bucket seats</li>
                                        <li>Power windows with one-touch up/down driver&rsquo;s side window</li>
                                        <li>Intelligent Access with push-button start</li>
                                        <li>Leather-wrapped gear shift knob</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Exterior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>Halogen projector-style headlamps</li>
                                        <li>Intermittent speed-sensitive front windshield wipers</li>
                                        <li>Power glass, manual folding mirrors with integrated blind spot mirrors</li>
                                        <li>Solar-tinted front door and windshield glass</li>
                                        <li>Privacy glass on rear doors, quarter, and liftgate windows</li>
                                        <li>LED tail lamps</li>
                                        <li>18-in. sparkle silver-painted aluminum wheels</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Technology</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>One smart charging USB port</li>
                                        <li>SYNC&reg;</li>
                                        <li>AM/FM stereo/single CD player</li>
                                        <li>Audio input jack</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Safety</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>Personal Safety System&trade;</li>
                                        <li>SOS Post-Crash Alert System&trade;</li>
                                        <li>Individual tire pressure monitoring system</li>
                                        <li>Rear view camera</li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Ford Edge SEL</h2>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6" style="margin-top:2%">
                        <p>Implementing more interior and exterior features into the model, the 2018 Ford Edge SEL spices
                            up the base model with more advanced features. Listed below are the specs that make this trim
                            tick.</p>
                        <a href="/new-inventory/index.htm?search=&model=Edge&trim=SEL&saveFacetState=true&lastFacetInteracted=inventory-listing1-facet-anchor-trim-1"
                            class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge SEL Inventory
                        </a>
                        <a href="/research/edge-inventory.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge Lease Offers</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="http://pictures.dealer.com/t/tompeckhuntleyfordfd/0116/e770b6b4685cde0e9d257ea12db95f91x.jpg" alt="2018 Ford Edge SEL"
                            title="2018 Ford Edge SEL" style="width: 100%" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div style="overflow-x:auto;" class="col-sm-12">
                        <table class="table table-striped table-bordered">
                            <tbody style="text-align:center;">
                                <tr>
                                    <td style="text-align:left;">

                                        <p style="font-size: 1.8rem;"><strong>SEL Starting MSRP-</strong></p>
                                        <p style="font-size: 1.8rem;"><strong>$32,050</strong></p>
                                    </td>
                                    <td style="text-align:center;">
                                        <p style="font-size: 1.8rem;"><strong>Features</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Engine</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>2.0L EcoBoost&reg; I4</li>
                                        <li>245 HP</li>
                                        <li>275 lb.-ft. of torque</li>
                                        <li>21 MPG city/29 MPG highway/24 MPG combined</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Interior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SE features plus:</p>
                                        <li>Dual-zone electronic automatic temperature control</li>
                                        <li>Leather-wrapped manual tilt-and-telescopic steering wheel</li>
                                        <li>Auto-dimming rearview mirror</li>
                                        <li>Ten-way power driver and six-way power passenger cloth seats</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Exterior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SE features plus:</p>
                                        <li>Reverse Sensing System</li>
                                        <li>Heated power mirrors with security approach lamps and LED signal indicators</li>
                                        <li>Bright grille</li>
                                        <li>LED signature lighting</li>
                                        <li>18-in. split-spoke sparkle silver-painted aluminum wheels</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Technology</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SE features plus:</p>
                                        <li>SiriusXM&reg; radio</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Safety</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SE features plus:</p>
                                        <li>SecuriCode&trade; keyless entry keypad</li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2>Ford Edge Titanium</h2>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6" style="margin-top:2%">
                        <p>Packing as much technology into an SUV as possible, the 2018 Ford Edge Titanium ensures a drive
                            that keeps you and your family connected. Continue reading for the features that make the Titanium
                            a great addition to your commute.
                        </p>
                        <a href="/new-inventory/index.htm?search=&model=Edge&trim=Titanium&saveFacetState=true&lastFacetInteracted=inventory-listing1-facet-anchor-trim-2"
                            class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge Titanium Inventory
                        </a>
                        <a href="/research/edge-inventory.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">2018
                            Edge Lease Offers</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="http://pictures.dealer.com/t/tompeckhuntleyfordfd/1728/6a485efb831c979361ebe74a1e11efa7x.jpg" alt="2018 Ford Edge Titanium"
                            title="2018 Ford Edge Titanium" style="width: 100%" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div style="overflow-x:auto;" class="col-sm-12">
                        <table class="table table-striped table-bordered">
                            <tbody style="text-align:center;">
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Titanium Starting MSRP-</strong></p>
                                        <p style="font-size: 1.8rem;"><strong>$36,025</strong></p>
                                    </td>
                                    <td style="text-align:center;">
                                        <p style="font-size: 1.8rem;"><strong>Features</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Engine</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <li>2.0L EcoBoost&reg; I4</li>
                                        <li>245 HP</li>
                                        <li>275 lb.-ft. of torque</li>
                                        <li>21 MPG city/29 MPG highway/24 MPG combined</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Interior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SEL features plus:</p>
                                        <li>Universal garage door opener</li>
                                        <li>Memory feature for exterior mirrors</li>
                                        <li>Hands-free, foot-activated liftgate</li>
                                        <li>Ten-way power driver&rsquo;s and ten-way power passenger leather-trimmed, heated
                                            sport bucket seats with driver&rsquo;s memory</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Exterior</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SEL features plus:</p>
                                        <li>Bright beltline molding</li>
                                        <li>Configurable daytime running lamps</li>
                                        <li>LED tail lamps with light bar</li>
                                        <li>19-in. nickel-painted aluminum wheels</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Technology</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SEL features plus:</p>
                                        <li>Two smart charging USB ports</li>
                                        <li>Two driver configurable 4.2-in. LCD displays in cluster</li>
                                        <li>SYNC&reg; 3</li>
                                        <li>Twelve speaker Sony&reg; audio system</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left;">
                                        <p style="font-size: 1.8rem;"><strong>Safety</strong></p>
                                    </td>
                                    <td style="text-align:left;">
                                        <p>Includes SEL features plus:</p>
                                        <li>Perimeter alarm</li>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h2>Edge Options and Packages</h2>
            <p>If you&rsquo;re looking to spice up your drive, the 2018 Ford Edge offers a number of packages for each SUV
                trim. Whether you want to vamp up the technology or protect your interior from harsh weather conditions,
                the Edge offers everything you need to make your car your own. Continue reading for more information about
                available packages.
            </p>
        </div>
        <div style="overflow-x:auto" class="col-sm-12 col-md-offset-2 col-md-8">
            <table class="table table-striped table-bordered">
                <tbody style="text-align:center;">
                    <tr>
                        <td style="text-align:left;">
                            <p style="font-size: 1.8rem;"><strong>Edge Trim</strong></p>
                        </td>
                        <td style="text-align:left;">
                            <p style="font-size: 1.8rem;"><strong>Packages</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">
                            <p style="font-size: 1.8rem;"><strong>SE</strong></p>
                        </td>
                        <td style="text-align:left;">
                            <li>Cargo Accessory Package- cargo cover, cargo area protector mat, and rear bumper protector</li>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">
                            <p style="font-size: 1.8rem;"><strong>SEL</strong></p>
                        </td>
                        <td style="text-align:left;">
                            <p>Includes SE packages plus:</p>
                            <li>Ford Safe and Smart&trade; Package- Adaptive Cruise Control and Forward Collision Warning
                                with Brake Support, auto-high beams, BLIS&reg; with Cross-Traffic Alert and auto-dimming
                                driver&rsquo;s sideview mirror, lane-keeping system, and rain-sensing wipers</li>
                            <li>SEL Sport Appearance Package- dark headlamps, unique front grille, rear spoiler, mirror caps,
                                skid plates, 19-in. magnetic-painted wheels, and premium cloth seats with Miko&reg; suede
                                inserts</li>
                            <li>Cold Weather Package- heated steering wheel, front and rear floor liners, and a windshield
                                wiper deicer</li>
                            <li>Convenience Package- 110V/150W AC power outlet, hands-free, foot-activated liftgate, perimeter
                                alarm, remote start system, universal garage door opener, and voice-activated touchscreen
                                navigation system with SiriusXM Traffic and Travel Link&reg;</li>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">
                            <p style="font-size: 1.8rem;"><strong>Titanium</strong></p>
                        </td>
                        <td style="text-align:left;">
                            <li>Cargo Accessory Package- cargo cover, cargo area protector mat, and rear bumper protector</li>
                            <li>Cold Weather Package- heated steering wheel, front and rear floor liners, and a windshield
                                wiper deicer</li>
                            <li>Ford Safe and Smart&trade; Package- Adaptive Cruise Control and Forward Collision Warning
                                with Brake Support, auto-high beams, BLIS&reg; with Cross-Traffic Alert and auto-dimming
                                driver&rsquo;s sideview mirror, lane-keeping system, and rain-sensing wipers</li>
                            <li>Technology Package- 110V/150W AC power outlet, remote start system, and voice-activated touchscreen
                                navigation system with pinch-to-zoom capability and SiriusXM Traffic and Travel Link&reg;</li>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <h2>Test Drive Your Favorite Edge Trim at Tom Peck Ford</h2>
            <p>Are you ready to feel the relaxing interior of the 2018 Ford Edge beneath your fingertips? <a href="/schedule-your-test-drive.htm">Schedule
                    a test drive</a> at Tom Peck Ford near Crystal Lake, IL! We&rsquo;ll have your favorite trim available
                for you once you arrive. Just fill out our online form or give us a call at <a href="tel:8476696060">(877)
                    841-2409</a>.</p>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-4">
                <a href="/new-inventory/index.htm?search=&saveFacetState=true&model=Edge&lastFacetInteracted=inventory-listing1-facet-anchor-model-4"
                    class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">New
                    Inventory</a></div>

            <div class=" col-xs-12 col-sm-4">
                <a href="/financing/application.htm" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">Get
                    Pre-Approved</a></div>

            <div class="col-xs-12 col-sm-4">
                <a href="tel:8476696060" class="col-xs-12 btn btn-primary ddc-btn-large " style="margin-bottom: 1%; margin-top:1%">Call
                    now</a></div>

        </div>
        <div class="col-xs-12">
            <img src="http://pictures.dealer.com/t/tompeckhuntleyfordfd/1310/14274b374142fe3701b13c79bba3a99ax.jpg" width="100%" alt="Lifestyle Edge Photo"
                title="Lifestyle Edge Photo">
        </div>
    </div>
</body>

</html>